/* * {
    border: 0.5px solid blue;
} */

body {
    font-family: Roboto, sans-serif;
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #212529;
    padding: 7px;
    height: 480px;
    width: 360px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.display-box {
    color: Ghostwhite;
    position: relative;
    height: 180px;
    width: 360px;
}

.display {
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.smalldisplay {
    text-align: right;
    position: absolute;
    right: 5px;
    top: 10px;
    
}

.keypad {
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.row {
    display: flex;
}

.calculator,
.keypad,
.row {
    gap: 5px;
}

.btn {
    background-color: #39B5E6;
    border-radius: 5px;
    border-style: none;
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    height: 67px;
    width: 85px;
    transition-duration: 0.2s;

}

.btn:hover {
    border: 2px solid #39B5E6;
    background-color: #212529;
    color: ghostwhite;
}

.op:hover {
    border: 2px solid #e83e8c;
    background-color: #212529;
    color: ghostwhite;
}

.btn:active {
    border: 4px solid #39B5E6;
    background-color: #212529;
    color: ghostwhite;
}

.op:active {
    border: 4px solid #e83e8c;
    background-color: #212529;
    color: ghostwhite;
}
.zero,
.clear {
    width: 175px;
}

.op,
.equals {
    background-color: #e83e8c;
    
}