/* * {
    border: 0.5px solid blue;
} */

body {
    font-family: Roboto, sans-serif;
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #212529;
    padding: 6px;
    height: 480px;
    width: 360px;
    border: 2px solid #212529;
    border-radius: 7px 17px;
    display: flex;
    flex-direction: column;

}

.display-box {
    color: ghostwhite;
    position: relative;
    height: 180px;
    width: 360px;
}

.display,
.smalldisplay {
    position: absolute;
    text-align: right;
    overflow: scroll;
    text-overflow: ellipsis;
    max-width: 320px;
}

.display {
    font-size: 24px;
    bottom: 0px;
    right: 6px;
    
}

.smalldisplay {
    font-size: 18px;
    right: 6px;
    top: 7px;
    
}

.keypad {
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.row {
    display: flex;
}

.calculator,
.keypad,
.row {
    gap: 5px;
}

.btn {
    background-color: #39B5E6;
    border-radius: 7px 17px;
    border-style: none;
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    height: 67px;
    width: 85px;
    transition-duration: 0.2s;

}

.btn:hover {
    border: 2px solid #39B5E6;
    background-color: #212529;
    color: ghostwhite;
}

.op:hover,
.equals:hover {
    border: 2px solid #e83e8c;
    background-color: #212529;
    color: ghostwhite;
}

.btn:active {
    border: 3.5px solid #39B5E6;
    background-color: #212529;
    color: ghostwhite;
}

.op:active,
.equals:active {
    border: 3.5px solid #e83e8c;
    background-color: #212529;
    color: ghostwhite;
}
.zero,
.clear {
    width: 175px;
}

.op,
.equals {
    background-color: #e83e8c;

}
/* Easter Egg */
.divide-by-zero {
    background-color: ghostwhite;
    color: #212529;
}

.divide-by-zero:hover {
    background-color: #212529;
    color: ghostwhite;
    border: 2px solid ghostwhite
}

.divide-by-zero:active {
    border: 3.5px solid ghostwhite;
    background-color: #212529;
    color: ghostwhite;
}

.divide-by-zero-op:hover {
    background-color: #212529;
    color: ghostwhite;
    border: 2px solid ghostwhite; 
}

.divide-by-zero-op:active {
    border: 3.5px solid ghostwhite;
    background-color: #212529;
    color: ghostwhite;
}
