/* * {
    border: 0.5px solid blue;
} */

body {
    font-family: Roboto, sans-serif;
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #212529;
    padding: 5px;
    height: 460px;
    width: 360px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.display-box {
    color: Ghostwhite;
    position: relative;
    height: 160px;
    width: 360px;
}

.display {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

.smalldisplay {
    text-align: right;
    position: absolute;
    right: 5px;
}

.keypad {
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.calculator,
.keypad,
.row {
    gap: 5px;
}

.btn {
    background-color: #39B5E6;
    border: none;
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    height: 67px;
    width: 85px;
}

.zero,
.clear {
    width: 175px;
}

.op,
.equals {
    background-color: #e83e8c;
    
}